In [5]:
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [8]:
data = pd.read_csv('data.csv')

In [13]:
data.head(10)

  Country  Year  Life expectancy at birth (years)           GDP
0   Chile  2000                              77.3  7.786093e+10
1   Chile  2001                              77.3  7.097992e+10
2   Chile  2002                              77.8  6.973681e+10
3   Chile  2003                              77.9  7.564346e+10
4   Chile  2004                              78.0  9.921039e+10
5   Chile  2005                              78.4  1.229650e+11
6   Chile  2006                              78.9  1.547880e+11
7   Chile  2007                              78.9  1.736060e+11
8   Chile  2008                              79.6  1.796380e+11
9   Chile  2009                              79.3  1.723890e+11

In [14]:
data.tail(10)

     Country  Year  Life expectancy at birth (years)           GDP
86  Zimbabwe  2006                              45.4  5.443896e+09
87  Zimbabwe  2007                              46.6  5.291950e+09
88  Zimbabwe  2008                              48.2  4.415703e+09
89  Zimbabwe  2009                              50.0  8.621574e+09
90  Zimbabwe  2010                              52.4  1.014186e+10
91  Zimbabwe  2011                              54.9  1.209845e+10
92  Zimbabwe  2012                              56.6  1.424249e+10
93  Zimbabwe  2013                              58.0  1.545177e+10
94  Zimbabwe  2014                              59.2  1.589105e+10
95  Zimbabwe  2015                              60.7  1.630467e+10

# Getting information about our dataset